body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #353e35;
    background-color: #333333;
    overflow-x: hidden;
    scroll-behavior: smooth;
    }
    a{
        color: white;
        text-decoration: none;
    }
    /* BUTTONS */
    .btn{
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    .btn-primary{
        background-color:  #00c358;
    }
    .btn-secondary{
        background-color:  #5DC940;
    }
    .btn-lg{
        font-size: 2rem;
        margin-left: 1rem;
    }
    /* NAVBAR */
    
    .nav{
        background: #ffffff;
        width: 100vw;
        height: 90px;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 10;
        top: 0;
       
       
    }
    .nav-content{
        max-width: 1320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display:flex;
        width: 100vw;
        color: black;
        font-size: 18px;
        font-weight: 600;
        margin: 3rem;
    }
    @media  screen and (max-width: 1200px) {
        .nav-content{
            font-size: 16px;
        }
    }
    .nav-menu {
        display: flex;
        justify-content: space-around;
    }
    .nav-menu > a{
        margin: 1rem;
        color: rgb(14, 13, 13);
        text-decoration: none;
    }
    .log-reg > a {
        margin: 1rem;
    }
    .log-reg-mini > a {
        margin: 1rem;
    }
    
    .bars{
        display: none;
        margin-right: 1rem;
        color: black;
    }
    
    .log-reg-mini{
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        bottom: 2rem;
    }

    @media screen and (max-width: 1000px) {
        .nav-menu{
            display: none;
        }
       
        .log-reg{
            display: none;
        }

        .bars{
            display:block;
        }
    }
    .mini-menu{
        height: calc(100vh - 90px);
        width: 500px;
        color: white;
        background-color: #00c358; 
        position: fixed;
        left: 0;
        top: 90px;
        display: flex;
        justify-content:baseline;
        align-items: flex-start;
        flex-direction: column;
        font-size: 2rem;
        z-index: 10;
    }
    .mini-menu > a {
        margin-left: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .log-reg-mini{
        margin-left: 2rem;
    }
    .logo-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo{
        height: 2rem;
    }
    .logo1{
        height: 2rem;
    }
    @media screen and (min-width:1000px) {
        .mini-menu{
            display: none;
        }
    }
    @media screen and (max-width:350px) {
        .log-reg-mini{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mini-menu{
            width: 100vw;
        }
    }
    /* HEADER */
    .header {
        width: 100vw;
        height: 100vh;
        background-image: url(./assets/HeaderBKGOverlay.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
    
    .header-content {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 3;
    }

    .title {
        font-size: 76px;
        margin: 0;
        color: #00c358;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .buttons-header{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }
    @media  screen and (max-width:1200px) {
        
    .title {
        font-size: 57px;
    }
    .header-ponturi-text{
        margin-top: 100px;
        position: absolute;
        font-size: 24px;
        }
    .header-meciuri-text{
        margin-top: 100px;
        position: absolute;
        font-size: 24px;
        }
    .header-blog-text{
        margin-top: 100px;
        position: absolute;
        font-size: 24px;
        }
        .header-tipsteri-text{
            margin-top: 100px;
            position: absolute;
            font-size: 24px;
            }   
            .header-contact-text{
                margin-top: 100px;
                position: absolute;
                font-size: 24px;
                }           

    }
    
    @media  screen and (max-width:575px) {
        
        .title {
            font-size: 40px;
        }
        .header-ponturi-text{
            margin-top: 200px;
            position: absolute;
            }
        .header-meciuri-text{
            margin-top: 200px;
            position: absolute;
            }
            .header-blog-text{
                margin-top: 200px;
                position: absolute;
                }
                .header-tipsteri-text{
                    margin-top: 200px;
                    position: absolute;
                    }
                    .header-contact-text{
                        margin-top: 200px;
                        position: absolute;
                        }

    }
    .under-title,
    .over-title {
        font-size: 32px;
        color: #f7f7f7;
        font-weight: 600;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .under-title{
        font-size: 24px;
    }
    @media screen and (max-width:1000px) {
        .under-title{
            font-size: 18px;
        }
        .over-title{
            font-size: 24px;
        }
        
        .buttons-header {
            margin-top: 3rem;
        }
    }
    @media screen and (max-width:575px) {
        .under-title{
            font-size: 16px;
        }
        .over-title{
            font-size: 18px;
        }
        .buttons-header{
            flex-direction: column;
        }
        .buttons-header > *{
            margin-top: 1rem;
        }
        .logo{
            height: 1.5rem;
        }
    }
    
    .buttons-header > span {
        margin-right: 2rem;
    }

    @media screen and (max-width: 1000px) {
        .header-overlay {
            display: none;
        }
        
    }
    
    /* TOPTIPSTERS - CARDS */
    .card{
        width: 310px;
        border-radius: 40px;
        box-shadow: 0px 0px 20px #000000b5;
        display: flex;
        justify-content:end;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        background-color: #ffffff;
    }
    @media screen and (max-width:400px) {
        .card{
            width: 90vw;
        }
    }
    .card-bg{
        position: relative;
        top: 0;
        left: 0;
        height: 130px;
        width: 100%;
        border-radius: 40px 40px 0 0 ;
        border: 1px solid green;
        background-image: url("https://img.freepik.com/free-vector/gradient-style-football-field-background_23-2148995842.jpg?w=1380&t=st=1663683138~exp=1663683738~hmac=846454f09807d1241fc824bfdf1789e692eab9ef15eb0d7afcdac0f465bc8afd");
    }
    
    .card-content{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .line{
        width: 1px;
        height:60px;
        background: black;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    @media screen and (max-width:320px) {
        .card-content{
            flex-direction: column;
        }
        .line{
            height: 1px;
            width: 80%;
            margin-top: 1rem;
        }
    }
    .card-button{
        margin-bottom: 3rem;
    }
    .card-content-all{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .card-name{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .card-active{
        font-size: 14px;
        font-weight: 600;
        margin-top: 0;
    }
    .card-txt{
        font-size: 14px;
        font-weight: 500;
    }
    .card-profile{
        width: 90px;
        height: 90px;
        border-radius: 45px;
        position: absolute;
        left: calc(50% - 45px);
        bottom: -1rem;
        border: 1px solid red;
        background-image: url("https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png");
    }

    /* TOP TIPSTERI */
    .top-tipsters,
    .latest-tips{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        flex-direction: column;
        margin-top: 30px;
    }
    .top-tipsters-content,
    .latest-tips-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1320px;
        margin-top: 12px;
        position: relative;
    } 
    .top-tipsters-content{
        margin-bottom: 2rem;
    }
    .top-tipsters > h1{
        margin-top: 50px;
    }
    
    .latest-tips-content{
       flex-direction: column;
    }
    
    .tipster-row{
        display: flex;
        flex-direction: row;
    }
    @media screen and (max-width:1400px) {
        .tipster-row{
            flex-direction: column;
        }
    }
    
    @media screen and (max-width:700px) {
        .top-tipsters-content{
           
            flex-direction: column;
        }
    }
    /* LATEST TIPS */
    /* MECI */
    .meci{
        width: 645px;  
        box-shadow: 0px 0px 20px #000000b5;
        border-radius: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1rem;
        background-color: #ffffff;
    }
    .meci-name{
        font-size: 35px;
        margin-bottom: 0;
    }
    .meci-details{
        font-size: 20px;
        font-weight: 600;
    }
    .meci-buttons,
    .meci-details{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    @media screen and (max-width:700px) {
        
    .meci-buttons,
    .meci-details{
        flex-direction: column;
        align-items: center;
    }
     
    .meci-buttons > *,
    .meci-details > *{
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }
    
    .meci{
        width: 90%;
    }
    .meci-name{
        text-align: center;
    }
    }
    /* PONT */
    .pont{
        width: 645px;
        box-shadow: 0px 0px 20px #000000b5;
        border-radius: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        font-weight: 600;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #ffffff;
    }
    
    .profile{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        border: 2px solid red;
        margin-bottom: 0;
    }
    .profile-details{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 2rem;
        font-size: 14px;
    }
    .profile-details > *{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    .profile-details >h3{
        color:#5DC940;
    }
    .pont-details{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 3rem;
        width: 320px;
    }
    .pont-details > *{
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    .horizontal-line{
        width:90%;
        height: 2px;
        background: black;
    }
    .pronostic{
        font-size: 24px;
        width: 100%;
        text-align: center;
        font-weight: 800;
    }
    .pont-date{
        margin-top: 0;
        font-size: 14px;
    }
    .pont-meci{
        margin-bottom: 0;
        font-size: 20px;
    }
    .post-date{
        position: absolute;
        bottom: 0.5rem;
        right: 2rem;
        font-size: 14px;
    }
    
    @media  screen and (max-width: 700px) {
        .pont{
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            padding-bottom: 3rem;
            box-sizing: border-box;
        }
        .pont-details{
            margin-left: 1rem;
            width: 90%;
        }
        .profile-details{
            margin-left: 1rem;
        }
    }
    
    .cota{
        width:64px;
        height: 64px;
        border-radius: 10px;
        background: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .cota > *{
        margin-top: 0;
        margin-bottom: 0;
    }
    
    
    .meci-tips{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        
    }
    .meci-tips > *{
        margin:1rem;
    }
    .tips-box > *{
        margin: 1rem;
    }
    .tips-box{
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    @media screen and (max-width:1400px) {
        .meci-tips{
            flex-direction: column;
        }
        .tips-box{
            width: 100%;
        }
    }
    @media screen and (max-width:700px) {
        .pont{
            width: 90%;
        }
    }

    /* FOOTER */

    .footer{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 8rem;
        margin-bottom: 0;
        position: relative;
        bottom: -1rem;
    }
    .footer-box > *{
        max-width: 1320px;
    }
    .footer-box{
        background-color: #2AE265;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-float{
        max-width: 1320px;
        width:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #22b450;
        border-radius: 40px;
        color: white;
        position: relative;
        top:-5rem;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 80px;
    }
    .footer-float > *{
        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
    .column > form :first-child{
        height: 40px;
        border-radius: 30px;
        background-color: #ececec;
        border: none;
        width: 70%;
        position: relative;
        left: 1rem;
    }
    .column > form :nth-child(2){
        height: 35px;
        width: 35px;
        border-radius: 30px;
        background-color: #ffffff;
        border: none;
        position: relative;
        left: -1.5rem;
    }

    @media screen and (max-width:1400px) {
        .footer-float{
            display: grid;
            grid-column: 1;
            column-gap: 10px;
        }

    }

    .footer-down{
        max-width: 1320px;
        background-color: #22b450; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 15px 15px 0 0;
        color: white;   
    }
    .footer-down > *{
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .footer-details{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1320px;
        width: 100%;
    }
    .footer-details > *{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
    .footer-details > div > *{
        margin-left: 1rem;
    }
    @media screen and (max-width:900px) {
        .footer-details > div{
            display: none;
        }
    }

    @media screen and (max-width:1400px) {
        .footer-float > div{
            display: grid;
            grid-column: 1;
            flex-direction: column;
            
        }
    }
    
    /* STEPS */ 

    .steps-content > h1{
        margin-top: 50px;
    }
    
    .steps, 
    .faq {
     
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .steps-content,
    .whyus-content,
    .faq-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        max-width: 1320px;
        background-color: #4A4A4A;
        border-radius: 1%;
    }
    
    
    
    .steps-content{
        margin-left: 3rem;
        margin-right: 3rem;
        background: #4A4A4A;
        border-radius: 2%;
        margin-top: 10px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: row;
      
    }
    
    .title-steps{
        font-weight: 800;
        font-size: 43px;
        color: #00c358;
        margin: 0;
        margin-top: 1rem;
    }
    
    @media screen and (max-width:1000px) {
        
    .title-steps{
        font-size: 32px;
       
    }
    .rowunder-title{
        font-size: 18px;
    }
    }
    
    .rowunder-title{
        margin: 0;
        margin-bottom: 1rem;
    }
    
    @media screen and (max-width: 1200px) {
        .row{
            flex-direction: column;
        
        }
        .row:nth-child(2n-1){
            flex-direction: column-reverse;
        }
        
    }
    
    @media screen and (max-width: 580px) {
        .steps-content{
            width: 80%;
            text-align: center;
            border-radius: 0;
        }
        .row > img {
            width: 80vw;
        }
        .title-steps{
            font-size: 30px;
        }
        .rowunder-title{
            font-size: 20px;
        }
    }
    
    /* WHYUS */
    .whyus-txtimg{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .whyus-txtimg > * {
        margin: 2rem;
    }
    .whyus-txtimg > img{
        width: 35%;
    }
    .whyus-txtimg > div > div > h3{
        font-size: 24px;
        color: #00c358;
    }
    .whyus-txtimg > div > div > p{
        font-size: 18px;
        font-weight: 500;
        color: #f7f7f7
    }
    .whyus-content > h1{
        margin-top: 40px;
        text-align: center;
    }
    .whyus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    @media screen and (max-width: 1000px) {
        .imgwhyus{
            display: none;
        }
    }
    
    /* FAQ */
    
    .faq-box{
        box-shadow: 0 0 20px  #000000b5;
        border-radius: 40px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 2rem;
    }
    
    .faq-content > h1{
        margin-top: 40px;
    }
    .faq-question{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .faq-question-all{
        background-color: #2AE265;
        border-radius: 30px;
        width: 80%;
        margin: 0.5rem;
        font-size: 24px;
        padding-left: 3rem;
        padding-right: 1rem;
        color: #6d6d6d;
        font-weight: 500;
    }
    
    .faq-question-all > h6{
     font-size: 18px;
    }
    
    .faq-question > p{
        width: 80%;
    }
    
    .faq-content > h1 {
        text-align: center;
    }
    
    .faq-content > p {
        margin-bottom: 2rem;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .faq-box-full{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    @media screen and (max-width:750px) {
        .faq-box{
            width: 80vw;
        }
        .faq-question{
            font-size: 20px;
        }
        .faq-content > h1{
            font-size: 40px;
        }
    }
    
    /* PLUS BUTTON */
    
    .plus{
        font-size: 48px;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#2AE265;
        background-color: white;
        margin-right: 1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    
    .plus > *{
        position: relative;
        top: -3px;
    }
    
    .faq-question-all > h6 {
        font-weight: 400;
        margin-top: 1rem;
    }
    
    @media screen and (max-width:750px) {
        .plus{
            font-size: 30px;
            width: 40px;
            height: 40px;
        }
        .faq-question-all > h6{
            font-size: 20px;
        }
    }
    
    /* TESTIMONIALE */
    
    
    .testimoniale{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .testimoniale-content{
        width: 100%;
        max-width: 1320px;
    }
    .testimoniale-content > h1{
        text-align: center;
        margin-top: 40px;
    }
    .testimoniale-content > p{
        text-align: center;
        margin-bottom: 2rem;
    }
    .two-boxes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;        
    }
    .first-box{
        box-shadow: 0 0 20px  #000000b5;
        border-radius: 30px;
        padding: 20px;
        overflow: hidden;
        width: 610px;
        background-color: #f7f7f7;
    }
    .img-profil{
        border: 1px solid black;
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    .second-box{
       box-shadow: 0 0 20px  #000000b5;
        border-radius: 30px;
        padding: 20px;
        overflow: hidden;
        width: 610px;
        background-color: #f7f7f7;
    }
    .div-img{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .div-img > h2 {
        margin-left: 1rem;
        color: #00c358;
    }
    
    @media screen and (max-width: 1350px) {
        .two-boxes{
            flex-direction: column;
        }
        .two-boxes > *{
            margin: 1rem;
        }
    }
    
    @media screen and (max-width: 700px) {
        .two-boxes > *{
            width: 80%;
        }
        
    }
    
    @media screen and (max-width: 400px) {
    
        .testimoniale-content > h1 {
            font-size: 40px;
            margin-bottom: 0.25rem;
        }
        .testimoniale-content > p {
            font-size: 20px;
            margin-top: -0.25rem;
        }
    }

        /* HEADERALL */

        .header-all {
            width: 100vw;
            height: 100vh;
            background-image: url(./assets/HeaderBKGOverlay.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        
        .header-all-text{
            font-size: 2vw;
            position: relative;
            top: 2vw;
            left: 15vw;
            
        }
        
        
        .header-all-text > *{
            margin:0;
        }
    
        .header-all > img {
            position: absolute;
            top: 0rem;
            left: 0;
            width: 100vw;
            height: 50vw;
            z-index: 1;
        }
         /* HEADERPONTURI */

        .header-ponturi {
        width: 100vw;
        height: 100vh;
        background-image: url(./assets/ponturi.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        z-index: 1;
        }
                
        .header-ponturi-text{
        font-size: 2vw;
        position: absolute;
        top: 10vw;
        left: 15vw;
        color: white
        }
              
                
        .header-ponturi-text > *{
         margin:0;
        }

         /* HEADERMECIURI */

         .header-meciuri {
            width: 100vw;
            height: 100vh;
            background-image: url(./assets/meciuri.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            z-index: 1;
            }
                    
            .header-meciuri-text{
            font-size: 2vw;
            position: relative;
            top: 10vw;
            left: 15vw;
            color: white;
            }
                    
                    
            .header-meciuri-text > *{
             margin:0;
            }        
        /* HEADERBLOG */

        .header-blog {
            width: 100vw;
            height: 100vh;
            background-image: url(./assets/blog.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            z-index: 1;
            }
                    
            .header-blog-text{
            font-size: 2vw;
            position: relative;
            top: 10vw;
            left: 15vw;
            color: white;
            }
                    
                    
            .header-blog-text > *{
            margin:0;
            }      
       
  /* HEADERSINGLEBLOG */

  .header-single-blog {
    width: 100vw;
    height: 80vh;
    background-image: url(./assets/single-blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index: 1;
    }
            
    .header-single-blog-text{
    font-size: 2vw;
    position: relative;
    top: 10vw;
    left: 15vw;
    color: white;
    }
            
            
    .header-single-blog-text > *{
    margin:0;
    }                  
        /* HEADERTIPSTERI */

        .header-tipsteri {
            width: 100vw;
            height: 100vh;
            background-image: url(./assets/tipsteri.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            z-index: 1;
            }
                    
            .header-tipsteri-text{
            font-size: 2vw;
            position: relative;
            top: 10vw;
            left: 15vw;
            color: white;
            }
                    
                    
            .header-tipsteri-text > *{
            margin:0;
            }   
            /* HEADER*/

            .header-contact {
                width: 100vw;
                height: 100vh;
                background-image: url(./assets/contact.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
                z-index: 1;
                }
                        
                .header-contact-text{
                font-size: 2vw;
                position: relative;
                top: 10vw;
                left: 15vw;
                color: white;
                }
                        
                        
                .header-contact-text > *{
                margin:0;
                }  
                
    /* PAGINA PONTURI */            
    .filtru-pont{
        width: 470px;
        background-color: #ffffff;
        border-radius: 40px;
        box-shadow: 0 0 20px  #000000b5;
        margin:1rem;
        margin-left: 0;
        text-align: center;
    }
    .inputs{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .input-label{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .filtru-pont > h2{
        font-size: 30px;
        padding-top: 2rem;
    }
    .filtru-pont > form{
        display: flex;
        height: 80%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
    } 
    .filter-input {
        font-size: 18px;
        font-weight: 600;
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        border: none;
        box-shadow: 0 0 20px  #000000b5;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 2rem;
    }

    .filter-input-date{
        font-size: 18px;
        font-weight: 600;
        height: 3rem;
        width: 8rem;
        border-radius: 1.5rem;
        border: none;
        box-shadow: 0 0 20px  #000000b5;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 2rem;
    }
    .filter-select{
        font-size: 18px;
        font-weight: 600;
        height: 3rem;
        width: 14rem;
        border-radius: 1.5rem;
        border: none;
        box-shadow: 0 0 20px  #000000b5;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 2rem;
    }

    .filtru-pont > form >div >div> label{
        font-size: 20px;
        font-weight: 500;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .meci-status{
        width: 90%;
        max-width: 1320px;
        box-shadow: 0 0 20px  #000000b5;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        text-align: center;
        margin-top: 10rem;
        background-color: #ffffff;
    }
    .meci-status>p{
        font-size: 20px;
        font-weight: 500;
        margin: 2rem;
    }
    .ponturi-p{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        width: 100vw;
    }
    .ponturi{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        margin-top: -400px;
    }
    .filter-status{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ponturi-filter{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: flex-start;
       width: 90%;
       max-width: 1320px;
    }
    .input-button{
        height: 3rem;
        background-color: #00c358;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border: none;
        margin: auto;
        margin-bottom: 10px ;
    }
    .ponturi-active > * {
        margin: 1rem;
        margin-right: 0;
    }
    @media screen and (max-width:1300px){
        .ponturi-filter{
            flex-direction: column;
            align-items: center;
            margin: 1rem;
        }
        .filtru-pont{
            width: 90%;
            margin: 1rem;
        }
        .ponturi-active > * {
            margin: 1rem;
        }
        .inputs{
            flex-direction: row;
        }
    }
    @media screen and (max-width:800px){
        .inputs{
            flex-direction: column;
        }  
    }

    /* CONTACT */

   .contact-container{
    width: 90%;
    max-width: 1320px;
    box-shadow: 0 0 20px  #000000b5;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    margin:auto;
    z-index: 2;
    margin-top: -100px;
   }

   .contact-container > p {
    font-size: 20px;
    font-weight: 500;
    margin: 2rem;
   }

    .contact-container > img{
        width: 100px;
        height: 100px;
    }

        /* MECIURI */

        .meci-boxes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    
    .meci-text-box{
            text-align: center;
            position: relative;
            font-size: 1vw;
    }
    
    .meci-box-1{
            width: 476px;
            height: 223px;
            border-radius: 40px;
            box-shadow: 0 0 20px #000000b5;
            background-color: #ffffff;
            
    }
    .filtru-meci{
            width: 476px;
            height: 223px;
            border-radius: 40px;
            box-shadow: 0 0 20px #000000b5;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            flex-direction: column;
    }
    .profile-card{
        max-width: 1320px;
        width: 80vw;
        border-radius: 40px;
        background-color: #ffffff;
        box-shadow: 0 0 20px #000000b5;
        padding-bottom: 4rem;
        margin-top: 1rem;
        z-index: 0;
        margin-top: 15vw;
        margin-bottom: 2rem;
    }
    .bg-profile-card{
        width: 80vw;
        height: 16rem;
        background-image: url("https://png.pngtree.com/background/20210706/original/pngtree-football-stadium-background-picture-image_245394.jpg");
        position: static;
        top: 0;
        z-index: 1;
        border-radius: 40px 40px 0 0;
        max-width: 1320px;
    }
    .profile-card-info{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 2rem;
        width: 100%;
        flex-direction: row;
        position: relative;
        bottom: 1rem;
    }
    .profile-card-box{
        text-align: center;
        width: 140px;
        height: 140px;
        box-shadow: 0 0 20px #000000b5;
        border-radius: 10px;
        margin :1px;
        align-self: center;
        justify-self: center;
    }
    .profile-card-box > p{
        font-size: 14px;
        font-weight: 600;
    }

    .profile-card-pic{
        width: 90px;
        height: 90px;
        border-radius: 45px;
        position: relative;
        left: 3rem;
        bottom: 3rem;
        z-index: 3;
        border: 1px solid red;
        background-color: red;
       }
       .profile-card-details{
        position: relative;
        left: 10rem;
        bottom:6rem;
       }
    @media screen  and (max-width: 1400px){
        .profile-card-info{
            grid-template-columns: repeat(3,2fr);
        }
    }
    @media screen  and (max-width: 750px){
        .profile-card-info{
            grid-template-columns: repeat(2,3fr);
        }
    }
    @media screen  and (max-width: 400px){
        .profile-card-info{
            grid-template-columns: repeat(1,6fr);
        }
        .profile-card-pic{
            left: 1rem;
        }
        .profile-details{
            left: 6rem;
        }
    }
   .profil-utilizator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .tipsteri-activi-grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
   }
   @media screen  and (max-width: 700px){
    .tipsteri-activi-grid{
        
        grid-template-columns: repeat(1,1fr);
       }
   }

   /* LOGIN PAGE */ 

   .login{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/logregbg.jpeg);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
   }

   .loginform{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    margin-top: 200px;
    font-size: 24px;
    z-index: 2;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
   }

   .loginform > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
   }

.input-form {
    position:relative;
    width:300px;
    margin:50px auto 0 auto;
  }
  .input-form > input {
    position:relative;
     outline:0;
     width:300px;
     background:#d9d9d9;
     padding:15px 10px;
     border-radius:5px;
     transition:all .5s ease;
     border:1px solid #adadad;
     font:18px 'Oxygen';
   }
   .input-form > label {
     position:absolute;
     left:10px;
     top:0px;
     font:20px/52px 'Oxygen';
     transition:all .3s ease;
     color:#00c358;
   }
   .input-form > input:focus,
   .input-form > input:valid {
     background:#00c358;
     color:#333333;
     -webkit-box-shadow: -2px 2px 13px 0px rgba(30, 201, 52, 0.75);
-moz-box-shadow: -2px 2px 13px 0px rgba(30, 201, 52, 0.75);
box-shadow: -2px 2px 13px 0px rgba(30, 201, 52, 0.75);
   }
   .input-form > input:focus ~ label,
   .input-form > input:valid ~ label {
 transform: translate3d(0px, -31px, 0px);
 font: 16px/39px 'Oxygen';
     font-weight:700;
     color:#333333;
   }
   .input-button1{
    height: 3rem;
    width: 10rem;
    background-color: #00c358;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: auto;
}

   .backForm {
    background-color: #f7f7f7;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 10px;
    z-index: 1;
    position: relative;
   };

   /* BLOG */

.grid-posts{
}

.posts{
    width: 90%;
    display:grid;
    box-shadow: 0px 0px 20px #ffffffb5;
    background-color: #ffffff;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: auto;
    margin-top: -200px;
    padding: 30px;
    border-radius: 10px;
}


.post{
    width: 100%;
}
@media (max-width: 1500px) {
    .posts { 
        grid-template-columns: repeat(2, 1fr);
        margin: auto; 
        padding: 20px;
    }
  }

  @media (max-width: 950px) {
    .posts { 
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        padding: 20px;
    }
    .post{
        width: 80%;
        margin: auto;
        padding: 20px;
    }
  }  

.postImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat{
    font-size: 11px;
    color: gold;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    color: #00c358;
}


.postDate{
    font-style: italic;
    font-size: 13px;
    color: #00c358;
    margin-top: 15px;
}

.postDesc{
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* SINGLE POST PAGE */

.singlePost {
    width: 77%;
    box-shadow: 0px 0px 20px #ffffffb5;
    background-color: #ffffff;
    margin: auto;
    margin-top: -200px;
    padding: 30px;
    border-radius: 10px;

}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 20px; 
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: #00c358;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #00c358;
}

.singlePostDesc{
    color: #6d6d6d;
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
    margin-top: 10px;
    
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.write{
    padding-top: 115px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.wrightIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px ;
}